.label {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#ffffff;
    position: absolute;
    width: 100%;
    z-index: 1;
    bottom: 15px;
    text-align: center;
    font-size: 20px;
    padding: 15px 0;   
}  
.gallery {
    width: 45%;
    position: relative;
    float:left; 
    margin-left: 30px;
    margin-bottom: 30px;
    clear: right;
} 
.gallery:hover {
    opacity: 0.4;
}
img {
    width: 100%;
}
.grid {
    width: 65%;
    float: left;
}